<button type="button" id="modal-{{ name|esc_attr }}-shortcode-button"
        class="button shortcode-modal-button"
        data-target="#modal-{{ name|esc_attr }}-shortcode">
    <span>{{ title|raw }}</span>
</button>